<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuzzFeed</title>
</head>
<body>
    <div class="containerQuiz">
        <div class="logoQuiz">
            <img src="assets/images/logo.png" width="40%" alt="">
            <h3>{{titulo}}</h3>
        </div>
        <div *ngIf=!finalizado class="quizQuestoes">
            <h3>{{questaoSelecionada.question}}</h3>
        </div>
        <div *ngIf=!finalizado class="quizOpcoes">
            <button class="btnOpcao" *ngFor="let opcao of questaoSelecionada.options; let i = index"
            (click)="opcaoSelecionada(opcao.alias);">
                {{opcao.name}}
            </button>
        </div>
        <div *ngIf=finalizado class="resultadoQuiz">
            <h1>Seu resultado é:</h1>
            <p>{{respostaSelecionada}}</p>
        </div>
    </div>
</body>
</html>
